body{
  background-image:url("../img/background.jpeg");

}

#app{
  margin:auto;
  width: 50%;
}
#content{
  background-color: #ffffff;
  margin-top: 1%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
  width: 50%;
}
.commentForm{
  display: inline-block;
}
#name{
  float: left;
  width: 30%;
}
#comment{
  margin-top: 1%;
  float: left;
  width:95%;
  height:40%;
}
#btnPost{
  position:absolute;

}
