<!doctype html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>React</title>
    <link href='CSS/app.css' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="CSS/style.css">
    <script type="text/javascript" src="js/react-0.11.1.js"></script>
   <script type="text/javascript" src="js/JSXTransformer-0.11.1.js"></script>
   <script type="text/javascript" src="js/jquery-1.10.0.min.js"></script>
   <script type="text/javascript" src="js/showdown.min.js"></script>
   </head>
  <body>
    <div id="full">
        <div id='app'></div>
        <script src='js/app.js'></script>
        <div id="content"></div>
    </div>
     <script type="text/jsx">


    var CommentBox = React.createClass({

      getInitialState: function() {
        return {data: []};
      },


      handleCommentSubmit: function(comment) {
        var comments = this.state.data;
        var newComments = comments.concat([comment]);
        this.setState({data: newComments});

        $.ajax({
          url: 'comments.php',
          dataType: 'json',
          type: 'POST',
          data: comment,
          success: function(data) {
            this.setState({data: data});
          }.bind(this),
          error: function(xhr, status, err) {
            console.error('comments.php', status, err );
          }.bind(this)
         });
      },

      componentDidMount: function() {
        this.loadCommentsFromServer();
        setInterval(this.loadCommentsFromServer, this.props.pollInterval);
      },

      render: function() {
        return (
          <div className="commentBox">
            <h1>Comments</h1>
            <CommentList data={this.state.data} />
            <CommentForm onCommentSubmit={this.handleCommentSubmit} />
          </div>
        );
      }

    });


    var CommentList = React.createClass({

      render: function() {
        var commentNodes = this.props.data.map(function (comment) {
          return (
            <Comment author={comment.author}>
              {comment.text}
            </Comment>
          );
        });
        return (
          <div className="commentList">
            {commentNodes}
          </div>
        );
      }

    });

    var CommentForm = React.createClass({

      handleSubmit: function() {
        var author = this.refs.author.getDOMNode().value.trim();
        var text = this.refs.text.getDOMNode().value.trim();
        this.props.onCommentSubmit({author: author, text: text});

        if (!text || !author) {
          return false;
        }

        this.refs.author.getDOMNode().value = '';
        this.refs.text.getDOMNode().value = '';
        return false;
      },

      render: function() {
        return (
          <form className="commentForm" onSubmit={this.handleSubmit}>
            <input type="text" id="name" placeholder="Your name" ref="author" />
            <input type="text" id="comment" placeholder="Say something..." ref="text" />
            <input type="submit"id="btnPost" value="Post" />
          </form>
        );
      }

    });

    //
    var converter = new Showdown.converter();

    //
    var Comment = React.createClass({

      render: function() {
        var rawMarkup = converter.makeHtml(this.props.children.toString());
        return (
          <div className="comment">
            <h2 className="commentAuthor">
              {this.props.author}
            </h2>
            <span dangerouslySetInnerHTML={{__html: rawMarkup}} />
          </div>
        );
      }

    });

    React.renderComponent(
      <CommentBox url="comments.php" pollInterval={2000} />,
      document.getElementById('content')
    );
   </script>

  </body>
</html>
